<div class="modal-header">
  <div ng-if="isLoading">Calculating Paycheck. Please wait... <i class="fa fa-fw fa-spin fa-circle-o-notch"></i></div>
  <h3 class="modal-title">Paycheck for {{paycheckView.People[0].FirstName}} {{paycheckView.People[0].LastName}}</h3>
</div>
<div class="modal-body">
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Benefit Cost</th>
          <th>Discount</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tr ng-repeat="p in paycheckView.People">
        <td>{{p.PersonType}}</td>
        <td>{{p.FirstName}} {{p.LastName}}</td>
        <td>{{p.Deduction | currency:"$"}}</td>
        <td>{{p.Discount | currency:"$"}}</td>
        <td>{{p.SubTotal | currency:"$"}}</td>
      </tr>
    </table>
  </div>
  <table class="table table-striped table-bordered">
    <tr>
      <td>Benefit Cost</td>
      <td class="right-align">{{paycheckView.Deductions | currency:"$"}}</td>
    </tr>
    <tr>
      <td>Discounts</td>
      <td class="right-align bolder">{{paycheckView.Discounts | currency:"$"}}</td>
    </tr>
    <tr>
      <td>Benefit Cost after Discounts</td>
      <td class="right-align">{{paycheckView.Deductions - paycheckView.Discounts | currency:"$"}}</td>
    </tr>
    <tr>
      <td>Pay Period Salary</td>
      <td class="right-align">{{paycheckView.PayPeriodSalary | currency:"$"}}</td>
    </tr>
    <tr>
      <td>Paycheck Amount</td>
      <td class="right-align bolder">{{paycheckView.PaycheckAmount | currency:"$"}}</td>
    </tr>
  </table>

</div>
<div class="modal-footer text-center">
  <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
</div>
